name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  backend:
    name: Backend Jobs
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '9.0'

      - name: Restore dependencies
        run: dotnet restore backend/BudgetToWealthApi

      - name: Build
        run: dotnet build backend/BudgetToWealthApi --no-restore

      - name: Run Tests
        run: dotnet test backend/BudgetToWealthApi.Tests --no-build --logger "trx"

  frontend:
    name: Frontend Jobs
    runs-on: ubuntu-latest
    needs: backend

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '23.11.0'

      - name: Install Dependencies
        run: |
          cd frontend
          npm install

      - name: Build
        run: |
          cd frontend
          npm run build

      - name: Run Tests
        run: |
          cd frontend
          npm test -- --ci

      - name: Run Lint
        run: |
          cd frontend
          npm run lint
